{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-standard",
    "stylelint-prettier/recommended",
    "stylelint-config-recommended-vue",
    "stylelint-config-standard-scss",
    "stylelint-config-recommended-vue/scss"
  ],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "extends",
          "tailwind"
        ]
      }
    ],
    "block-no-empty": null
  }
}
